<#include "../include/header.html">
    <script>
        var viewModel = kendo.observable({
            model: {}
        });
        var NUM = '${RequestParameters.businessKey!0}';
//        var NUM='TZ2017112116090001';
    </script>
    <style type="text/css">
        html,body {

            color:#333;
        }
        .approve-block {
            padding:0px 20px 20px 20px;
        }
        .approve-block h3 {
            font-weight: normal;
            color:#000;
            font-size:16px;
        }
        .approve-table {
            border-collapse: collapse;
            width: 800px;
        }
        .approve-table .item-label {
            /*text-align:right;*/
        }
        .approve-table .item-value{
            /*font-weight:bold;*/
        }

        .approve-table td {
            padding:8px;
            font-size:12px;
            border: #e7ecf1 solid 1px;
        }
        #historyTable {
            width: 800px;
        }
        #historyTable thead td{
            padding:8px;
            font-weight:bold;
            color:#333;
            font-size:14px;
        }

        #includeFrame {
            border: none !important;
            box-shadow: none;
            height:100%;
        }


        #ta-comment {
            padding:10px;
            width: 700px;
            height: 150px;
            border: #e7ecf1 solid 1px;
        }

        .comment-too-long {
            color: red;
        }

        .action_ok {
            color: #5fb760;
        }

        .action_dangerous {
            color: #eeac5f;
        }

        .action_custom {
            color: #60c0dc;
        }

        button:before {
            margin-right: 2px;
        }

        span[class^='fa']:before {
            margin-right: 3px;
        }


    </style>
    <body>
    <div id="page-content">
        <table  class="approve-table" align="center">
            <tr style="background-color:rgb(245,245,245)">
                <td colspan="4" align="center"><font style="font-size: 17px;color: black"><br/><P><b>New Employee Onboarding Application Form</b></P></font></td>
            </tr>
            <tr id="basic" style="background-color:rgb(230,230,230)">
                <td colspan="4">Basic Information</td>
            </tr>

            <tr id="sub"></tr>

            <tr id="check" style="background-color:rgb(230,230,230)">
                <td colspan="4">Check List</td>
            </tr>
            <tr id="ch"></tr>
            <tr id="ad"></tr>
            <tr id="receive" style="background-color:rgb(230,230,230)">
                <td colspan="4"><font style="font-size: 17px;color: black">领取人:&nbsp;</font>
                    <input id="receiptor" type="text" style="width: 180px"   disabled data-label="用户名"
                           data-bind="value:model.receiptor">&nbsp;&nbsp;&nbsp;&nbsp;
                    <script>kendo.bind($('#receiptor'), viewModel);</script>
                姓名：
                    <input id="name" type="text" style="width: 90px" data-role="maskedtextbox"  disabled data-label="姓名"
                           data-bind="value:model.name" class="k-textbox">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <script>kendo.bind($('#name'), viewModel);</script>
                邮件：
                    <input id="email" type="text" style="width: 300px" data-role="maskedtextbox"   disabled data-label="邮件"
                           data-bind="value:model.email" class="k-textbox">
                    <script>kendo.bind($('#email'), viewModel);</script>
                </td>
            </tr>
            <tr style="background-color: rgb(242,242,242)">
                <td colspan="4" align="center">
                    </td>
            </tr>

        </table>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><hr></p>
    </div>

    <script type="text/javascript">
        var applicant='';

        $.get("${base.contextPath}/lvmh/neo/application/query?num="+NUM, function (data) {

            var htmls="";
            var pname ="";
            var pvalue ="";
            var name_r="";
            var value_td="";
            $(data.rows).each(function (i,n) {
                var tr = i+'tr'+i;
                name_r = i+'name'+ i;
                value_td = i+'value'+i;
                if((i==(data.rows.length-1))&&(data.rows.length%2==1)){

                    var tHTML = "<tr id='" + tr + "' style='background-color: rgb(255,255,255)'>" +
                        "<td colspan='1' id='" + name_r + "' ></td>" +
                        "<td colspan='1' id='" + value_td + "' >" +
                        "</td>" +
                        "<td colspan='1'></td>" +
                        "<td colspan='1'></td></tr>"
                    $("#sub").before(tHTML);
                    $("#" + name_r + "").html(n.name);
                    $("#" + value_td + "").html(n.value);
                    $("#receiptor").val(n.receiptor);
                    $("#receiptor").data("kendoLov").text(n.receiptor);
                    $.get("${base.contextPath}/lvmh/neo/applicant/query?receiptor="+n.receiptor,function(d){
                        $(d.rows).each(function (i,dn) {
                            viewModel.model.set("name",dn.userName);
                            viewModel.model.set("email",dn.email);
                        })
                    })
                    console.log(n.receiptor);

                }else if(i%2==0){
                    pname= n.name;
                    pvalue = n.value;
                    htmls = "";
                    var trHTML ="<tr id='" + tr + "' style='background-color: rgb(255,255,255)'>" +
                        "<td  width='25%' colspan='1' id='" + name_r + "' ></td>" +
                        "<td  width='25%' colspan='1' id='" + value_td + "' ></td>"
                    htmls = htmls +trHTML;
                }else if(i%2==1){
                    var tdHTML = "<td  width='25%' colspan='1' id='" + name_r + "' ></td>" +
                        "<td  width='25%' colspan='1' id='" + value_td + "' ></td></tr>"
                    htmls = htmls+ tdHTML;
                    $("#sub").before(htmls);
                    $("#" + name_r + "").html(n.name);
                    $("#" + value_td + "").html(n.value);
                    $("#" + (i-1) + "name" + (i-1) + "").html(pname);
                    $("#" + (i-1) + "value" + (i-1) + "").html(pvalue);
                }

            });

        });

        $.get("${base.contextPath}/lvmh/neo/check/query?cNum="+NUM, function (data) {

                var htmls="";
                var pname ="";
                var pvalue ="";
                var name_r="";
                var value_td="";
                $(data.rows).each(function (i,n) {
                    var tr = 'tr'+i;
                    name_r = 'name' + i;
                    value_td = 'value'+i;
                     if((i==(data.rows.length-1))&&(data.rows.length%2==1)){

                            var tHTML = "<tr id='" + tr + "' style='background-color: rgb(255,255,255)'>" +
                                "<td colspan='1' id='" + name_r + "' ></td>" +
                                "<td colspan='1' id='" + value_td + "' ></td>" +
                                "<td colspan='1'></td>" +
                                "<td colspan='1'></td></tr>"
                            $("#ch").before(tHTML);
                            $("#" + name_r + "").html(n.cName);
                            $("#" + value_td + "").html(n.cValue);
                        }else if(i%2==0){
                            pname= n.cName;
                            pvalue= n.cValue;
                            htmls = "";
                            var trHTML ="<tr id='" + tr + "' style='background-color: rgb(255,255,255)'>" +
                                "<td colspan='1' id='" + name_r + "' ></td>" +
                                "<td colspan='1' id='" + value_td + "' ></td>"
                            htmls = htmls +trHTML;
                        }else if(i%2==1){
                            var tdHTML = "<td colspan='1' id='" + name_r + "' ></td>" +
                                "<td colspan='1' id='" + value_td + "' ></td></tr>"
                            htmls = htmls+ tdHTML;
                            $("#ch").before(htmls);
                            $("#" + name_r + "").html(n.cName);
                            $("#name" + (i-1) + "").html(pname);
                            $("#" + value_td + "").html(n.cValue);
                            $("#value" + (i-1) + "").html(pvalue);
                        }
                });

            });

        $.get("${base.contextPath}/lvmh/neo/check/ad/query?num="+NUM, function (data) {

            var htmls="";
            var pname ="";
            var pvalue ="";
            var name_r="";
            var value_td="";
            $(data.rows).each(function (i,n) {
                var tr = 'trad'+i;
                name_r = 'namead' + i;
                value_td = 'valuead'+i;
                if((i==(data.rows.length-1))&&(data.rows.length%2==1)){

                    var tHTML = "<tr id='" + tr + "' style='background-color: rgb(255,255,255)'>" +
                        "<td colspan='1' id='" + name_r + "' ></td>" +
                        "<td colspan='1' id='" + value_td + "' ></td>" +
                        "<td colspan='1'></td>" +
                        "<td colspan='1'></td></tr>"
                    $("#ad").before(tHTML);
                    $("#" + name_r + "").html(n.name);
                    $("#" + value_td + "").html(n.value);
                }else if(i%2==0){
                    pname= n.name;
                    pvalue= n.value;
                    htmls = "";
                    var trHTML ="<tr id='" + tr + "' style='background-color: rgb(255,255,255)'>" +
                        "<td colspan='1' id='" + name_r + "' ></td>" +
                        "<td colspan='1' id='" + value_td + "' ></td>"
                    htmls = htmls +trHTML;
                }else if(i%2==1){
                    var tdHTML = "<td colspan='1' id='" + name_r + "' ></td>" +
                        "<td colspan='1' id='" + value_td + "' ></td></tr>"
                    htmls = htmls+ tdHTML;
                    $("#ad").before(htmls);
                    $("#" + name_r + "").html(n.name);
                    $("#namead" + (i-1) + "").html(pname);
                    $("#" + value_td + "").html(n.value);
                    $("#valuead" + (i-1) + "").html(pvalue);
                }
            });

        });



        $("#receiptor").kendoLov($.extend(<@lov "user_lov_b"/>, {
            select:function(e){
                viewModel.model.set('name',e.item.name);    //设置带回的第一个值
                viewModel.model.set('email',e.item.email);  //设置带回的第二个值
            },
            change : function(e){         //当改变时将值都设置为空
                if (e.sender._prev == '' || e.sender._prev == null) {
                    viewModel.model.set('name','');
                    viewModel.model.set('email','');
                }
            },
            textField: 'employeeCode',
            model: viewModel.model
        }));

    </script>
    </body>
    </html>