<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbidemo.core.NewEmployeeOnboarding.mapper.NeoApplicationMapper">
    <resultMap id="BaseResultMap" type="hbidemo.core.NewEmployeeOnboarding.dto.NeoApplication">
        <result column="ID" property="id" jdbcType="DECIMAL" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="VALUE" property="value" jdbcType="VARCHAR" />
        <result column="NUM" property="num" jdbcType="VARCHAR" />
        <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
        <result column="RECEIPTOR" property="receiptor" jdbcType="VARCHAR" />
        <result column="APPLICANT" property="applicant" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    </resultMap>

    <select id="select" resultMap="BaseResultMap" parameterType="hbidemo.core.NewEmployeeOnboarding.dto.NeoApplication">
        SELECT * FROM lvmh_neo_application
        WHERE 1=1
        <if test="num!=null">
        AND NUM = #{num, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectApplicant" resultMap="BaseResultMap" parameterType="hbidemo.core.NewEmployeeOnboarding.dto.NeoApplication">
        select hr.EMPLOYEE_CODE receiptor,hr.NAME userName,hr.EMAIL email from hr_employee hr
        where 1=1
        <if test="receiptor!=null">
            and EMPLOYEE_CODE=#{receiptor}
        </if>
    </select>
</mapper>